In [1]:
import pandas as pd

df = pd.read_csv("../data/raw/expense_claims.csv")

df.head()

  employee_id   department   expense_type  claim_amount  days_claimed  month
0     EMP2001  Engineering         Travel          4200             3      1
1     EMP2002      Finance           Food          1800             2      1
2     EMP2003           HR  Accommodation          9000             4      1
3     EMP2004  Engineering         Travel         15000             3      1
4     EMP2005  Engineering           Food          2200             1      1

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   employee_id   50 non-null     object
 1   department    50 non-null     object
 2   expense_type  50 non-null     object
 3   claim_amount  50 non-null     int64
 4   days_claimed  50 non-null     int64
 5   month         50 non-null     int64
dtypes: int64(3), object(3)
memory usage: 2.5+ KB

In [3]:
df.describe()

       claim_amount  days_claimed      month
count     50.000000     50.000000  50.000000
mean    8946.000000      3.000000   3.000000
std     9758.914501      2.099563   1.428571
min     1200.000000      1.000000   1.000000
25%     2062.500000      1.000000   2.000000
50%     4700.000000      2.500000   3.000000
75%     9350.000000      4.000000   4.000000
max    32000.000000      8.000000   5.000000

In [4]:
# Basic intuition
df.groupby("department")["claim_amount"].mean()

department
Engineering     6482.500000
Finance        18073.333333
HR              3103.333333
Name: claim_amount, dtype: float64